In [1]:
import pandas as pd
import numpy as np
import radar as rdr # https://radar-python.readthedocs.io/en/latest/examples.html
import janitor # https://pyjanitor.readthedocs.io/notebooks/pyjanitor_intro.html

In [2]:
# api setup
SECRET_KEY = "putyourtestkeyhere"
radar = rdr.RadarClient(SECRET_KEY)

In [3]:
#add data, clean nanmes
data = (
    pd.read_csv("hi_burial_sample.csv") #replace with your document and path!
    .clean_names()
       )

In [4]:
# add new york on the end, if it's not there already - this may be uneccessary for your code
data['place_of_death'] = np.where(
    data['place_of_death'].str.contains(" ny", case = False), 
    data['place_of_death'],
    data['place_of_death'] + " New York")

In [5]:
# query the api and append results into list

geo = []

for i in range(len(data)):
    api_call = radar.geocode.forward(query = data['place_of_death'][i])[0] #remember to replace with your column name!
    geo.append(api_call)

In [6]:
# extract latitudes and longitudes from list

latitudes = []
longitudes = []

for i in range(len(geo)):
    lat_coor = geo[i].latitude
    lon_coor = geo[i].longitude
    latitudes.append(lat_coor)
    longitudes.append(lon_coor)

In [7]:
data['latitude'] = latitudes
data['longitude'] = longitudes

In [8]:
data

,last_name,first_name,age,death_date,place_of_death,latitude,longitude
0,ABAYOMMI,ANUOLUWAPO,NaN,10/25/2018,KINGS COUNTY HOSPITAL New York,40.656732,-73.943715
1,ABBASI,***,NaN,3/18/2018,LONG ISLAND JEWISH MEDICAL CENTER New York,42.321088,-70.965526
2,ABDUL,MICHEL,70.0,9/4/2018,SEAGATE REHABILITATIONAND NURSING CENTER New York,40.572297,-73.994042
3,ABREU,REINALDO,88.0,6/7/2018,1101 HOE AVENUE 3 BRONX NY,40.853551,-73.874979
4,ACEVEDO SOLARES,JESUS MANUEL,48.0,9/12/2018,JACK D. WEILER HOSPITAL New York,40.849900,-73.846108
5,ACOSTA RIVERA,***,NaN,9/12/2018,NEW YORK PRESBYTERIAN HOSPITAL New York,40.834930,-73.945390
6,ADAMS,SARIYAH,NaN,1/26/2019,BROOKLYN HOSPITAL CENTER New York,40.691474,-73.978316
7,ADAMSON,CEDRIC,58.0,7/21/2018,MONTEFIORE MEDICAL CENTER HENRY & LUCY MOSES D...,40.769188,-73.961756
8,AGHIMIEN,PRESLEY A,66.0,5/11/2018,780 SAINT ANNS BRONX NY,40.820413,-73.909986

In [10]:
data.to_csv("sample_geo.csv")  #remember to replace this with your preferred file name!